.notification-content {
  display: table;
}

.notification-content > div {
  vertical-align: middle;
  display: table-cell;
}

.notification-text {
  padding-left: 20px;
}

.notification {
  width: 500px;
  overflow: hidden;
}