form {
  input.form-control {
    &.ng-invalid.ng-dirty:focus, &.ng-invalid.ng-touched:focus {
      box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 105, 133, 0.6);
      border-color: #AA5555;
    }
  }
  .popover-group {
    position: relative;

    .popover {
      &.bottom {
        top: 100%;
      }
      &.top {
        top: auto;
        bottom: 100%;
        margin-bottom: @popover-arrow-outer-width;
      }
      &.left {
        top: -35px;
        right: 100%;
        left: auto;
        min-width: 200px;
        margin-right: @popover-arrow-outer-width;
        .arrow {
          top:50px;
        }
      }
      .popover-content {

        p {
          font-size: @font-size-base;
        }
      }
    }
  }
}