<div id="container-log-view-page">
  
  <h1>
    <span ng-if="logs.fetching" dt-text class="text-muted">loading...</span>
    <span ng-if="!logs.fetching && log.fetchError" dt-text class="text-danger">failed to load log</span>
    <span ng-if="!logs.fetching && !log.fetchError" class="container-log-title">
      {{ log.data.name }}
      <span class="text-muted" ng-bind="log.data.length | byte"></span>
    </span>
    <select
      id="jump-to-log-select"
      ng-change="onJumpToLog()"
      ng-model="logToJumpTo"
      ng-options="logOption.name for logOption in logs.data"
    >
      <option value="" dt-text>jump to log...</option>
    </select>
  </h1>

  <div class="well well-sm" id="container-log-viewer" msd-wheel="onWheel($event, $delta, $deltaX, $deltaY)">
    <div ng-if="prependMessage" ng-class="'loading-msg prepend alert alert-' + prependMessage.type">{{ prependMessage.message }}</div>
    <div class="log-content" ng-repeat="line in logContent.lines track by $index">{{ line.line }}</div>
    <div ng-if="logContent.error" class="alert alert-danger"dt-text>{{ logContent.error }}</div>
    <div ng-if="appendMessage" ng-class="'loading-msg prepend alert alert-' + appendMessage.type">{{ appendMessage.message }}</div>
  </div>


</div>