<div class="palette" ng-controller="ContainersListPaletteCtrl">

  <!-- when none are selected -->
  <span ng-if="!selected.length">
    <button class="btn btn-success" ng-click="selectActive()">
      <span class="glyphicon glyphicon-check"></span>
      <span dt-text>select active</span>
    </button>
    <button class="btn btn-default" ng-click="selectActive(true)">
      <span class="glyphicon glyphicon-check"></span>
      <span dt-text>select all active but app master</span>
    </button>
  </span>

  <!-- when exactly one is selected -->
  <span ng-if="selected.length === 1">
    <a class="btn btn-primary" dt-page-href="LogicalOperator" params="{ appId: appId, operatorName: selected[0] }">
      <span class="glyphicon glyphicon-eye-open"></span>
      <span dt-text="inspect"></span>
    </a>
    <span class="btn-group" ng-init="getLogsForSelected()">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-file"></span>
        <span dt-text>logs</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="log in logsForSelected.data">
          <a dt-page-href="ContainerLog" params="{ appId: appId, containerId: selected[0], logName: log.name }">{{ log.name }} <span class="text-muted">({{ log.length | byte }})</span></a>
        </li>
      </ul>
    </span>
  </span>

  <!-- when one or more are selected -->
  <span ng-if="selected.length >= 1">
    <button class="btn btn-danger" ng-click="killSelected()">
      <span class="glyphicon glyphicon-ban-circle"></span>
      <span dt-text>kill selected</span>
    </button>
    <button class="btn btn-default" ng-click="deselectAll()">
      <span class="glyphicon glyphicon-unchecked"></span>
      <span dt-text>deselect all</span>
    </button>
  </span>

  <!-- always there -->
  <button class="btn btn-default" ng-click="retrieveKilled()">
    <span class="glyphicon glyphicon-arrow-down"></span>
    <span dt-text>retrieve killed</span>
  </button>

  <span class="selected-count text-muted">{{ selected.length }} <span dt-text>selected</span></span>

</div>
<mlhr-table 
options="table_options"
columns="columns" 
rows="resource.data" 
track-by="id"
class="dt-table"
table-class="table" 
selected="selected">
</mlhr-table>