<p class="palette">
    <span ng-if="!selected.length">
      <button class="btn btn-info" ng-click="selectActive()">
          <span class="glyphicon glyphicon-check"></span>
          <span dt-text>select active</span>
      </button>
      <button class="btn btn-default" ng-click="selectActive(true)">
          <span class="glyphicon glyphicon-check"></span>
          <span dt-text>select all active but app master</span>
      </button>
      <button class="btn btn-default" ng-click="retrieveKilled()">
          <span class="glyphicon glyphicon-arrow-down"></span>
          <span dt-text>retrieve killed</span>
      </button>
    </span>
    <span ng-if="selected.length === 1">
      <a class="btn btn-primary" dt-page-href="LogicalOperator" params="{ appId: appInstance.data.id, operatorName: selected[0] }">
        <span class="glyphicon glyphicon-eye-open"></span>
        <span dt-text="inspect"></span>
      </a>
    </span>
    <span ng-if="selected.length >= 1">
      <button class="btn btn-danger" ng-click="killSelected()">
          <span class="glyphicon glyphicon-ban-circle"></span>
          <span dt-text>kill selected</span>
      </button>
      <button class="btn btn-default" ng-click="deselectAll()">
          <span class="glyphicon glyphicon-unchecked"></span>
          <span dt-text>deselect all</span>
      </button>
    </span>
</p>
<mlhr-table 
    options="table_options"
    columns="columns" 
    rows="resource.data" 
    track-by="id"
    class="dt-table"
    table-class="table" 
    selected="selected">
</mlhr-table>