<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-file"></i> <%= DT.text('logs_label') %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% _.each( logNames, function(log) { %>
    <li><a href="#ops/apps/<%= appId %>/containers/<%= id %>/logs/<%= log %>"><%= log %></a></li>
    <% }) %>
    <li class="divider"></li>
    <li><a target="_blank" href="<%= containerLogsUrl %>" target="_blank"><%= DT.text('view in Hadoop UI') %></a></li>
  </ul>
</div>