<div class="app-dag logical-dag">
    <p>Application ID: {{appId}}</p>

    <div class="form-inline">
        <span dt-select label="Top:" class="metric-select" value="metric1" options="metrics"></span>
        <span dt-select label="Bottom:" class="metric2-select" value="metric2" options="metrics"></span>

        <div class="options-controls">
            <a href="#" class="btn btn-link"
               ng-click="toggleLocality($event);">
                <span ng-hide="showLocality">Show Stream Locality</span>
                <span ng-show="showLocality">Hide Stream Locality</span>
            </a>
            <a href="#" class="btn btn-link"
               ng-click="resetPosition($event);">
                Reset Position
            </a>
        </div>
    </div>
    <div class="dag-legend" ng-show="showLocality">
        <svg height="110" width="370" class="svg-legend">
            <g transform="translate(10, 10)">
            </g>
        </svg>
    </div>
    <svg height="110" class="svg-main">
        <filter id="f1" x="0" y="0" height="150%">
            <feOffset result="offOut" in="SourceGraphic" dx="5" dy="5" />
            <feBlend in="SourceGraphic" in2="offOut" mode="normal" />
        </filter>
        <g transform="translate(20, 40)"/>
    </svg>
</div>