<div class="palette">

    <!-- when none are selected -->
    <span ng-if="!selected.length">
      <button class="btn btn-default" disabled dt-text>select a port</button>
    </span>

    <!-- when one is selected -->
    <span ng-if="selected.length === 1">
      <a class="btn btn-primary" dt-page-href="Port" params="{ appId: appId, operatorId: operatorId, portId: selected[0] }">
        <span class="glyphicon glyphicon-eye-open"></span>
        <span dt-text="inspect"></span>
      </a>
    </span>

    <!-- when multple are selected -->
    <span ng-if="selected.length > 1">
      <button class="btn btn-default" disabled>
        <span dt-text>no actions available</span>
      </button>
    </span>    

    <span dt-table-selected-count="selected"></span>
</div>
<mlhr-table 
    options="table_options"
    columns="columns" 
    rows="physicalOperator.data.ports" 
    class="dt-table"
    track-by="name"
    table-class="table"
    selected="selected">
</mlhr-table>