<div class="modal-header">
    <span class="pull-right glyphicon dt-delete" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3>{{widget.title}}
        <small><span dt-text>settings</span></small>
    </h3>
</div>

<div class="modal-body">
    <form name="form" novalidate class="form-horizontal">
        <div class="form-group">
            <label for="widgetTitle" class="col-sm-2 control-label" dt-text-tooltip="This is the widget's display name"
                   tooltip-popup-delay="0" dt-text>Title</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="widgetTitle" ng-model="result.title">
            </div>
        </div>
        <div class="form-group">
            <label for="widgetWidth" class="col-sm-2 control-label"
                   dt-text-tooltip="This is the widget's width. You can specify in %, px, em, or ex."
                   tooltip-popup-delay="0" dt-text>Width</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="widgetWidth" ng-model="result.size.width">
            </div>
        </div>
        <div class="form-group">
            <label for="widgetHeight" class="col-sm-2 control-label"
                   dt-text-tooltip="This is the widget's height. You can specify in px, em, or ex."
                   tooltip-popup-delay="0" dt-text>Height</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" name="widgetHeight" ng-model="result.size.height">
            </div>
        </div>
        <div class="form-group">
            <label for="widgetWidth" class="col-sm-2 control-label" dt-text
                   dt-text-tooltip="This is the widget's css float property. Sometimes this can help arrange widgets more efficiently"
                   tooltip-popup-delay="0">Float</label>

            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="result.style.float" value="none"> None
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="result.style.float" value="left"> Left
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="result.style.float" value="right"> Right
                </label>
            </div>
        </div>
        <div ng-if="widget.settingsModalOptions.partialTemplateUrl"
             ng-include="widget.settingsModalOptions.partialTemplateUrl"></div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
