<div class="modal-header modal-header-info">
    <h3 class="modal-title"><span class="fa fa-briefcase"></span> <span dt-text>Change Password</span></h3>
</div>
<div class="modal-body">
  <p>Change {{user.data.userName}}'s password.</p>
  <div ng-if="saveError" class="alert alert-danger" dt-text>An error occurred changing the password.</div>
  <form name="changePassword" ng-submit="save(changePassword, passwords)">
    <div class="form-group" ng-if="!currentUser.can('MANAGE_USERS')">
      <label for="oldPassword" dt-text>old password</label>
      <input
        type="password"
        focus-on="changePasswordModalOpened"
        class="form-control"
        ng-model="passwords.oldPassword"
        name="oldPassword"
        required>
      <div ng-messages="changePassword.oldPassword.$error" ng-show="changePassword.oldPassword.$touched">
        <p ng-message="required" class="help-block">
          <span class="text-danger" dt-text>Please enter the old password.</span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword" dt-text>new password</label>
      <input
        type="password"
        focus-on="changePasswordModalOpened_admin"
        class="form-control"
        ng-model="passwords.newPassword"
        name="newPassword"
        required>
      <div ng-messages="changePassword.newPassword.$error" ng-show="changePassword.newPassword.$touched">
        <p ng-message="required" class="help-block">
          <span class="text-danger" dt-text>Please enter the new password.</span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword2" dt-text>retype new password</label>
      <input
        type="password"
        class="form-control"
        ng-model="passwords.newPassword2"
        name="newPassword2"
        ui-validate="{mismatch: '$value==passwords.newPassword'}"
        ui-validate-watch="'passwords.newPassword'"
        required>
      <div ng-messages="changePassword.newPassword2.$error" ng-show="changePassword.newPassword2.$touched">
        <p ng-message="required" class="help-block">
          <span class="text-danger" dt-text>Please re-enter the new password.</span>
        </p>
        <p ng-message="mismatch" class="help-block">
          <span class="text-danger" dt-text>The two new passwords you entered do not match.</span>
        </p>
      </div>
    </div>
    <input type="submit" style="position: absolute; left: -9999px"/>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save(changePassword, passwords)" ng-disabled="changePassword.$invalid || saving">{{ saving ? 'Saving...' : 'Reset Password'}}</button>
    <button class="btn btn-default" ng-click="$dismiss()" dt-text>Cancel</button>
</div>
