<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UI Console</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- navbar-top -->
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar-top" bs-navbar>
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DataTorrent</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a data-toggle="dropdown"><span class="glyphicon glyphicon-info-sign"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li class="dropdown-header">cluster info</li>
                  <li><a href="#" class="displayLicenseInfo">License Info</a></li>
                  <li><a href="#" class="displayGatewayInfo">Gateway Info</a></li>
                  <li><a href="#" class="displayConsoleInfo">Console Info</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">docs &amp; help</li>
                  <li><a target="_blank" href="ttps://www.datatorrent.com/developers/">Developer Center</a></li>
                  <li><a target="_blank" href="https://www.datatorrent.com/docs/apidocs/">API Docs</a></li>
                  <li><a target="_blank" href="https://www.datatorrent.com/contact/">Contact DataTorrent</a></li>
                  <li><a target="_blank" href="https://github.com/DataTorrent/Malhar">Malhar Repository</a></li>
                </ul>

              </li>
              <li class="visible-xs-block" data-match-route="/config"><a href="#/config" dt-text-title="Configuration" dt-text="Configuration"></a></li>
              <li class="visible-xs-block" data-match-route="/dev"><a href="#/dev" dt-text-title="Development" dt-text="Development"></a></li>
              <li class="visible-xs-block" data-match-route="/ops"><a href="#/ops" dt-text-title="Operations" dt-text="Operations"></a></li>
            </ul>
            <!-- <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form> -->
          </div>
        </div>
      </div>
    </div>
    <table class="main-console-layout">
      <tr>
        <!-- main side nav -->
        <td class="main-side-nav hidden-xs" bs-navbar>
          <ul>
            <li data-match-route="/config">
              <a href="#/config">
                <span class="nav-text">Configuration</span>
                <span class="glyphicon nav-icon glyphicon-check"></span>
              </a>
            </li>
            <li data-match-route="/dev">
              <a href="#/dev">
                <span class="nav-text">Development</span>
                <span class="glyphicon nav-icon glyphicon-wrench"></span>
              </a>
            </li>
            <li data-match-route="/ops">
              <a href="#/ops">
                <span class="nav-text">Operations</span>
                <span class="glyphicon nav-icon glyphicon-cog"></span>
              </a>
            </li>
          </ul>
        </td>

        <td class="main-body-content">

          <!-- NOTE: To remove the side navigation, only keep what is inside of -->
          <!-- this td of the <table> element. Then remove the .visible-xs-block -->
          <!-- class of the li elements above -->

          <!-- breadcrumbs -->
          <div class="container-fluid">
            <div class="row">
              <ol class="ab-nav breadcrumb" id="breadcrumbs-top">
                <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
                  <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
                  <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                </li>
              </ol>
            </div>
          </div>

          <!-- main view area -->
          <div class="container-fluid main-page-view" ng-view="" ng-animate></div>
        </td>
      </tr>
    </table>
    <script>

    // @see http://stackoverflow.com/questions/22199564/chrome-truncates-error-messages-and-adds-omitted-in-window-onerror/22218280#22218280
    // 
    window.onerror = function (errorMsg, url, lineNumber, columnNumber, errorObject) {
        var errMsg;
        //check the errorObject as IE and FF don't pass it through (yet)
        if (errorObject && errorObject !== undefined) {
                errMsg = errorObject.message;
            }
            else {
                errMsg = errorMsg;
            }
        console.log('Error: ' + errMsg);
    }
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/malhar-angular-dashboard/dist/angular-ui-dashboard.js"></script>
    <script src="bower_components/pines-notify/pnotify.core.js"></script>
    <script src="bower_components/pines-notify/pnotify.buttons.js"></script>
    <script src="bower_components/pines-notify/pnotify.callbacks.js"></script>
    <script src="bower_components/pines-notify/pnotify.confirm.js"></script>
    <script src="bower_components/pines-notify/pnotify.desktop.js"></script>
    <script src="bower_components/pines-notify/pnotify.history.js"></script>
    <script src="bower_components/pines-notify/pnotify.nonblock.js"></script>
    <script src="bower_components/angular-pines-notify/src/pnotify.js"></script>
    <script src="bower_components/ng-breadcrumbs/dist/ng-breadcrumbs.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/hamsterjs/hamster.js"></script>
    <script src="bower_components/angular-mousewheel/mousewheel.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-jsbn-big-integer/big-integer.js"></script>
    <!-- endbower -->
    <script src="bower_components/malhar-angular-table/dist/mlhr-table.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="templates.js"></script>
    <!-- appscripts -->
    <script src="app.js"></script>
    <script src="components/services/appManager/appManager.js"></script>
    <script src="vendor/dagre-d3.js"></script>
    <script src="pages/ops/ops.js"></script>
    <script src="pages/ops/widgets/ClusterMetrics/ClusterMetrics.js"></script>
    <script src="pages/ops/widgets/AppsList/AppsList.js"></script>
    <script src="pages/ops/appInstance/appInstance.js"></script>
    <script src="pages/ops/appInstance/widgets/LogicalOperatorsList/LogicalOperatorsList.js"></script>
    <script src="pages/ops/appInstance/widgets/LogicalDag/LogicalDag.js"></script>
    <script src="pages/ops/appInstance/widgets/LogicalDag/logicalDagDirective.js"></script>
    <script src="pages/ops/appInstance/widgets/AppInstanceOverview/AppInstanceOverview.js"></script>
    <script src="pages/dev/etl/etl-controller.js"></script>
    <script src="pages/dev/apache-log/apache-log-controller.js"></script>
    <script src="components/settings.js"></script>
    <script src="components/widgets/Base/Base.js"></script>
    <script src="components/services/webSocket/webSocket.js"></script>
    <script src="components/services/visibly/visibly.js"></script>
    <script src="components/services/getUri/getUri.js"></script>
    <script src="components/services/extend/extend.js"></script>
    <script src="components/services/dtText/dtText.js"></script>
    <script src="components/services/confirm/confirm.js"></script>
    <script src="app-controller.js"></script>
    <script src="components/resources/LogicalOperatorModel/LogicalOperatorModel.js"></script>
    <script src="components/resources/LogicalOperatorCollection/LogicalOperatorCollection.js"></script>
    <script src="components/resources/LogicalDag/LogicalDag.js"></script>
    <script src="components/resources/ClusterMetrics/ClusterMetrics.js"></script>
    <script src="components/resources/BaseResource/BaseResource.js"></script>
    <script src="components/resources/BaseModel/BaseModel.js"></script>
    <script src="components/resources/BaseCollection/BaseCollection.js"></script>
    <script src="components/resources/ApplicationModel/ApplicationModel.js"></script>
    <script src="components/resources/ApplicationCollection/ApplicationCollection.js"></script>
    <script src="components/filters/timeSince/timeSince.js"></script>
    <script src="components/filters/relativeTimestamp/relativeTimestamp.js"></script>
    <script src="components/filters/percent2cpu/percent2cpu.js"></script>
    <script src="components/filters/commaGroups/commaGroups.js"></script>
    <script src="components/filters/byte/byte.js"></script>
    <script src="components/directives/windowId/windowId.js"></script>
    <script src="components/directives/logicalOperatorStatus/logicalOperatorStatus.js"></script>
    <script src="components/directives/dtText/dtText.js"></script>
    <script src="components/directives/dtSelect/dtSelect.js"></script>
    <script src="components/directives/dtPageHref/dtPageHref.js"></script>
    <script src="components/directives/appState/appState.js"></script>
    <script src="components/directives/appIdLink/appIdLink.js"></script>
    <!-- endappscripts -->
    <!-- endbuild -->
  </body>
</html>
