<div ng-controller="InstallWizardLicenseCtrl">
  <h1>
    <span dt-text>DataTorrent RTS License Confirmation</span>
  </h1>
  <p dt-text>
    DataTorrent RTS requires a License file to run.  An Evaluation license is included with this installation, and can be used in any non-production environment for development and testing purposes for a limited period of time.  You can <a href="https://www.datatorrent.com/license-upgrade/">upgrade</a> this License any time.
  </p>
  <p>
    If you have a different License file you would like to use, you can <strong><a href="" ng-click="goToStep('licenseUpload')">upload it</a></strong>. Otherwise click "continue" to use the Current License.
  </p>

  <div class="alert alert-info" ng-if="license.fetching">
    <span dt-text>loading</span>
    <div dt-spinner></div>
  </div>

  <div class="alert alert-danger" ng-if="!license.fetching && license.fetchError">
    An error occurred retrieving license information. <a href="" ng-click="license.fetch()">Try again</a>
  </div>

  <div ng-if="!license.fetching && !license.fetchError" class="well well-sm">
    <h4>Current License:</h4>
    <p>
      <strong>license id:</strong> {{ license.data.id }}<br>
      <span ng-if="license.data.sections && license.data.sections.length">
        <span ng-repeat="section in license.data.sections">
          <strong>start date:</strong> {{ section.startDate }}<br>
          <strong>end date:</strong> {{ section.endDate }}<br>
          <strong>constraint:</strong> {{ section.constraint }}<br>
          <strong>comment:</strong> {{ section.comment }}<br>
        </span>
      </span>
    </p>
  </div>
  
  <button class="btn btn-default backButton" ng-click="goToStep('hadoop')" tabindex="2">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <span ng-text>back</span>
  </button>
  <button class="btn btn-success nextButton" ng-click="goToStep('summary')" tabindex="1">
    <span ng-text>continue</span>
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </button>
</div>