<div class="container info-page-container system-diagnostics-page">
  <h1>
    <span class="fa fa-stethoscope"></span>
    <span dt-text>System Diagnostics</span>
  </h1>
  <hr>
  <div class="diagnostic-info" ng-if="resourcesLoaded.$$state.status === 1">

    <div ng-if="issues && issues.data && issues.data.length">
      <h2>Detected Issues</h2>
      <p>Below are potential issues that the system can detect.</p>
      <div ng-repeat="issue in issues.data" ng-class="'issue-severity-' + issue.severity">
        <h4>{{issue.key}} <small>{{issue.severity}}</small></h4>
        <h5 ng-if="issue.property">{{issue.property}}</h5>
        <p>{{ issue.description || 'No description available.' }}</p>
      </div>
    </div>

    <h2>Gateway Information</h2>
    <p>Here is some general info regarding this DataTorrent Gateway.</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="200px">item</th>
          <th scope="col">value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,val) in info.data">
          <td>{{key}}</td>
          <td>{{val}}</td>
        </tr>
        <tr>
          <td>connect address</td>
          <td>{{connectAddress.data.value}}</td>
        </tr>
      </tbody>
    </table>

    <h2>Hadoop Information</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="200px">item</th>
          <th scope="col">value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hadoop location</td>
          <td>{{hadoopLocation.data.value}}</td>
        </tr>
        <tr>
          <td>DFS Root Directory</td>
          <td>{{dfsLocation.data.value}}</td>
        </tr>

      </tbody>
    </table>

  </div>

</div>