<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DataTorrent Console</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- navbar-top -->
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar-top" bs-navbar>
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DataTorrent</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a data-toggle="dropdown"><span class="glyphicon glyphicon-info-sign"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li class="dropdown-header">cluster info</li>
                  <li><a href="#" class="displayLicenseInfo">License Info</a></li>
                  <li><a href="#" class="displayGatewayInfo">Gateway Info</a></li>
                  <li><a href="#" class="displayConsoleInfo">Console Info</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">docs &amp; help</li>
                  <li><a target="_blank" href="ttps://www.datatorrent.com/developers/">Developer Center</a></li>
                  <li><a target="_blank" href="https://www.datatorrent.com/docs/apidocs/">API Docs</a></li>
                  <li><a target="_blank" href="https://www.datatorrent.com/contact/">Contact DataTorrent</a></li>
                  <li><a target="_blank" href="https://github.com/DataTorrent/Malhar">Malhar Repository</a></li>
                </ul>

              </li>
              <li class="visible-xs-block" data-match-route="/config"><a href="#/config" dt-text-title="Configuration" dt-text="Configuration"></a></li>
              <li class="visible-xs-block" data-match-route="/dev"><a href="#/dev" dt-text-title="Development" dt-text="Development"></a></li>
              <li class="visible-xs-block" data-match-route="/ops"><a href="#/ops" dt-text-title="Operations" dt-text="Operations"></a></li>
            </ul>
            <!-- <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form> -->
          </div>
        </div>
      </div>
    </div>
    <table class="main-console-layout">
      <tr>
        <!-- main side nav -->
        <td class="main-side-nav hidden-xs" bs-navbar>
          <ul>
            <li data-match-route="/config">
              <a href="#/config">
                <span class="nav-text">Configuration</span>
                <span class="glyphicon nav-icon glyphicon-cog"></span>
              </a>
            </li>
            <!--
            <li data-match-route="/dev">
              <a href="#/dev">
                <span class="nav-text">Development</span>
                <span class="glyphicon nav-icon glyphicon-wrench"></span>
              </a>
            </li>
            -->
            <li data-match-route="/packages">
              <a href="#/packages">
                  <span class="nav-text">Packages</span>
                  <span class="glyphicon nav-icon glyphicon-th"></span>
              </a>
            </li>
              <li data-match-route="/kafka">
                  <a href="#/kafka">
                      <span class="nav-text">Dashboards</span>
                      <span class="glyphicon nav-icon glyphicon-random"></span>
                  </a>
              </li>
            <li data-match-route="/ops">
              <a href="#/ops">
                <span class="nav-text">Operations</span>
                <span class="glyphicon nav-icon glyphicon-stats"></span>
              </a>
            </li>
          </ul>
        </td>

        <td class="main-body-content">

          <!-- NOTE: To remove the side navigation, only keep what is inside of -->
          <!-- this td of the <table> element. Then remove the .visible-xs-block -->
          <!-- class of the li elements above -->

          <!-- breadcrumbs -->
          <div class="container-fluid">
            <div class="row">
              <ol class="ab-nav breadcrumb" id="breadcrumbs-top">
                <li ng-repeat-start="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-if="breadcrumb.route.collection">
                  <span dt-breadcrumb-collection="breadcrumb.route.collection" route-params="$routeParams" class="breadcrumb-collection-container"></span>
                </li>
                <li ng-repeat-end ng-class="{ active: $last }">
                  <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
                  <span ng-if="$last" ng-bind="breadcrumb.label"></span>
                </li>
              </ol>
            </div>
          </div>

          <!-- main view area -->
          <div class="container-fluid main-page-view" ng-view="" ng-animate></div>
        </td>
      </tr>
    </table>
    <script>
    // @see http://stackoverflow.com/questions/22199564/chrome-truncates-error-messages-and-adds-omitted-in-window-onerror/22218280#22218280
    // 
    window.onerror = function (errorMsg, url, lineNumber, columnNumber, errorObject) {
        var errMsg;
        //check the errorObject as IE and FF don't pass it through (yet)
        if (errorObject && errorObject !== undefined) {
                errMsg = errorObject.message;
            }
            else {
                errMsg = errorMsg;
            }
        console.log('Error: ' + errMsg);
    }
    </script>

    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="vendor/socket.io.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/malhar-angular-dashboard/dist/angular-ui-dashboard.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/hamsterjs/hamster.js"></script>
    <script src="bower_components/angular-mousewheel/mousewheel.js"></script>
    <script src="bower_components/pines-notify/pnotify.core.js"></script>
    <script src="bower_components/pines-notify/pnotify.buttons.js"></script>
    <script src="bower_components/pines-notify/pnotify.callbacks.js"></script>
    <script src="bower_components/pines-notify/pnotify.confirm.js"></script>
    <script src="bower_components/pines-notify/pnotify.desktop.js"></script>
    <script src="bower_components/pines-notify/pnotify.history.js"></script>
    <script src="bower_components/pines-notify/pnotify.nonblock.js"></script>
    <script src="bower_components/angular-pines-notify/src/pnotify.js"></script>
    <script src="bower_components/ng-breadcrumbs/dist/ng-breadcrumbs.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular-jsbn-big-integer/big-integer.js"></script>
    <script src="bower_components/ng-grid/build/ng-grid.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="bower_components/visibilityjs/lib/visibility.core.js"></script>
    <script src="bower_components/visibilityjs/lib/visibility.timers.js"></script>
    <script src="bower_components/dagre-d3/js/dagre-d3.js"></script>
    <script src="bower_components/dagre-d3/js/dagre-d3.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <!-- endbower -->
    <script src="bower_components/malhar-angular-table/dist/mlhr-table.js"></script>
    <script src="bower_components/malhar-angular-widgets/dist/malhar-angular-widgets.js"></script>
    <script src="bower_components/jsPlumb/dist/js/jquery.jsPlumb-1.6.4.js"></script>
    <script src="bower_components/ui-grid.info/release/ui-grid-unstable.js"></script>
    <!-- endbuild -->

    <!-- settings:js -->
    <script src="client.settings.js"></script>
    <!-- endinject -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- appscripts -->
    <script src="app.js"></script>
    <script src="app-controller.js"></script>
    <script src="components/directives/appIdLink/appIdLink.js"></script>
    <script src="components/directives/containerLogsDropdown/containerLogsDropdown.js"></script>
    <script src="components/directives/dtBreadcrumbCollection/dtBreadcrumbCollection.js"></script>
    <script src="components/directives/dtContainerShorthand/dtContainerShorthand.js"></script>
    <script src="components/directives/dtPageHref/dtPageHref.js"></script>
    <script src="components/directives/dtQueryEditor/dtQueryEditor.js"></script>
    <script src="components/directives/dtSelect/dtSelect.js"></script>
    <script src="components/directives/dtStatus/dtStatus.js"></script>
    <script src="components/directives/dtTableSelectedCount/dtTableSelectedCount.js"></script>
    <script src="components/directives/dtText/dtText.js"></script>
    <script src="components/directives/jsplumbContainer/jsplumbContainer.js"></script>
    <script src="components/directives/licenseMemoryUsage/licenseMemoryUsage.js"></script>
    <script src="components/directives/logicalOperatorStatus/logicalOperatorStatus.js"></script>
    <script src="components/directives/queryEditor/queryEditor.js"></script>
    <script src="components/directives/uiResizable/uiResizable.js"></script>
    <script src="components/directives/validation/greaterThan/greaterThan.js"></script>
    <script src="components/directives/validation/readableBytes/readableBytes.js"></script>
    <script src="components/directives/validation/uniqueInSet/uniqueInSet.js"></script>
    <script src="components/directives/viewRawInModal/viewRawInModal.js"></script>
    <script src="components/directives/windowId/windowId.js"></script>
    <script src="components/filters/byte/byte.js"></script>
    <script src="components/filters/commaGroups/commaGroups.js"></script>
    <script src="components/filters/dtContainerShorthand/dtContainerShorthand.js"></script>
    <script src="components/filters/percent2cpu/percent2cpu.js"></script>
    <script src="components/filters/prettyPropertyType/prettyPropertyType.js"></script>
    <script src="components/filters/relativeTimestamp/relativeTimestamp.js"></script>
    <script src="components/filters/timeSince/timeSince.js"></script>
    <script src="components/filters/urlFriendly/urlFriendly.js"></script>
    <script src="components/filters/windowOffset/windowOffset.js"></script>
    <script src="components/resources/ApplicationCollection/ApplicationCollection.js"></script>
    <script src="components/resources/ApplicationModel/ApplicationModel.js"></script>
    <script src="components/resources/BaseCollection/BaseCollection.js"></script>
    <script src="components/resources/BaseModel/BaseModel.js"></script>
    <script src="components/resources/BaseResource/BaseResource.js"></script>
    <script src="components/resources/ClusterMetrics/ClusterMetrics.js"></script>
    <script src="components/resources/ConfigIssueCollection/ConfigIssueCollection.js"></script>
    <script src="components/resources/ConfigIssueModel/ConfigIssueModel.js"></script>
    <script src="components/resources/ConfigPropertyModel/ConfigPropertyModel.js"></script>
    <script src="components/resources/ContainerCollection/ContainerCollection.js"></script>
    <script src="components/resources/ContainerLogCollection/ContainerLogCollection.js"></script>
    <script src="components/resources/ContainerLogModel/ContainerLogModel.js"></script>
    <script src="components/resources/ContainerModel/ContainerModel.js"></script>
    <script src="components/resources/GatewayInfoModel/GatewayInfoModel.js"></script>
    <script src="components/resources/HadoopLocation/HadoopLocation.js"></script>
    <script src="components/resources/LicenseAgentCollection/LicenseAgentCollection.js"></script>
    <script src="components/resources/LicenseAgentModel/LicenseAgentModel.js"></script>
    <script src="components/resources/LicenseFileCollection/LicenseFileCollection.js"></script>
    <script src="components/resources/LicenseFileModel/LicenseFileModel.js"></script>
    <script src="components/resources/LogicalOperatorCollection/LogicalOperatorCollection.js"></script>
    <script src="components/resources/LogicalOperatorModel/LogicalOperatorModel.js"></script>
    <script src="components/resources/LogicalPlanResource/LogicalPlanResource.js"></script>
    <script src="components/resources/LogicalStreamCollection/LogicalStreamCollection.js"></script>
    <script src="components/resources/LogicalStreamModel/LogicalStreamModel.js"></script>
    <script src="components/resources/OpPropertiesModel/OpPropertiesModel.js"></script>
    <script src="components/resources/PackageApplicationCollection/PackageApplicationCollection.js"></script>
    <script src="components/resources/PackageApplicationModel/PackageApplicationModel.js"></script>
    <script src="components/resources/PackageCollection/PackageCollection.js"></script>
    <script src="components/resources/PackageImportCollection/PackageImportCollection.js"></script>
    <script src="components/resources/PackageModel/PackageModel.js"></script>
    <script src="components/resources/PackageOperatorClassCollection/PackageOperatorClassCollection.js"></script>
    <script src="components/resources/PackageOperatorClassModel/PackageOperatorClassModel.js"></script>
    <script src="components/resources/PhysicalOperatorCollection/PhysicalOperatorCollection.js"></script>
    <script src="components/resources/PhysicalOperatorModel/PhysicalOperatorModel.js"></script>
    <script src="components/resources/PhysicalPlanResource/PhysicalPlanResource.js"></script>
    <script src="components/resources/PortCollection/PortCollection.js"></script>
    <script src="components/resources/PortModel/PortModel.js"></script>
    <script src="components/resources/StramEventCollection/StramEventCollection.js"></script>
    <script src="components/resources/StramEventModel/StramEventModel.js"></script>
    <script src="components/services/appManager/appManager.js"></script>
    <script src="components/services/clientSettings/clientSettings.js"></script>
    <script src="components/services/confirm/confirm.js"></script>
    <script src="components/services/containerManager/containerManager.js"></script>
    <script src="components/services/dashboardOptionsFactory/dashboardOptionsFactory.js"></script>
    <script src="components/services/defaultWidgetSettings/defaultWidgetSettings.js"></script>
    <script src="components/services/dtText/dtText.js"></script>
    <script src="components/services/extend/extend.js"></script>
    <script src="components/services/gatewayManager/gatewayManager.js"></script>
    <script src="components/services/getUri/getUri.js"></script>
    <script src="components/services/jsPlumb/jsPlumb.js"></script>
    <script src="components/services/setupBreadcrumbs/setupBreadcrumbs.js"></script>
    <script src="components/services/tableOptionsFactory/tableOptionsFactory.js"></script>
    <script src="components/services/userStorage/userStorage.js"></script>
    <script src="components/services/visibly/visibly.js"></script>
    <script src="components/settings.js"></script>
    <script src="components/widgets/Base/Base.js"></script>
    <script src="components/widgets/PhysicalOperatorsList/PhysicalOperatorsList.js"></script>
    <script src="components/widgets/dag/DagHelper.js"></script>
    <script src="components/widgets/dag/DagRenderer.js"></script>
    <script src="components/widgets/dag/base/dagDirective.js"></script>
    <script src="components/widgets/dag/logical/LogicalDagRenderer.js"></script>
    <script src="components/widgets/dag/logical/MetricModel.js"></script>
    <script src="components/widgets/dag/logical/MetricModelFactory.js"></script>
    <script src="components/widgets/dag/logical/logicalDagDirective.js"></script>
    <script src="components/widgets/dag/physical/PhysicalDagRenderer.js"></script>
    <script src="components/widgets/dag/physical/physicalDagDirective.js"></script>
    <script src="components/widgets/fileUpload/fileUpload.js"></script>
    <script src="components/widgets/fileUpload/fileUploadConfig.js"></script>
    <script src="pages/config/config.js"></script>
    <script src="pages/config/installWizard/hadoop/InstallWizardHadoopCtrl.js"></script>
    <script src="pages/config/installWizard/installWizard.js"></script>
    <script src="pages/config/installWizard/license/InstallWizardLicenseCtrl.js"></script>
    <script src="pages/config/installWizard/license/InstallWizardLicenseUploadCtrl.js"></script>
    <script src="pages/config/installWizard/summary/InstallWizardSummaryCtrl.js"></script>
    <script src="pages/config/installWizard/welcome/InstallWizardWelcomeCtrl.js"></script>
    <script src="pages/config/licenseInfo/licenseInfo.js"></script>
    <script src="pages/config/systemDiagnostics/systemDiagnostics.js"></script>
    <script src="pages/dev/apache-log/apache-log-controller.js"></script>
    <script src="pages/dev/etl/etl-controller.js"></script>
    <script src="pages/dev/kafka/kafka.js"></script>
    <script src="pages/dev/kafka/kafkaRestService.js"></script>
    <script src="pages/dev/kafka/service/KafkaSocketService.js"></script>
    <script src="pages/dev/kafka/service/socket.js"></script>
    <script src="pages/dev/kafka/widgetDataModels/KafkaMetricsWidgetDataModel.js"></script>
    <script src="pages/dev/kafka/widgetDataModels/KafkaTimeSeriesWidgetDataModel.js"></script>
    <script src="pages/dev/kafka/widgetDataModels/KafkaWidgetDataModel.js"></script>
    <script src="pages/dev/kafka/widgets/kafkaDebug/kafkaDebug.js"></script>
    <script src="pages/dev/kafka/widgets/timeSeries/timeSeries.js"></script>
    <script src="pages/dev/packages/import/import.js"></script>
    <script src="pages/dev/packages/package/application/application.js"></script>
    <script src="pages/dev/packages/package/dagEditor/controllers/DagAppInspectorCtrl.js"></script>
    <script src="pages/dev/packages/package/dagEditor/controllers/DagOperatorInspectorCtrl.js"></script>
    <script src="pages/dev/packages/package/dagEditor/controllers/DagPortInspectorCtrl.js"></script>
    <script src="pages/dev/packages/package/dagEditor/controllers/DagStreamInspectorCtrl.js"></script>
    <script src="pages/dev/packages/package/dagEditor/dagEditor.js"></script>
    <script src="pages/dev/packages/package/dagEditor/directives/dagCanvas/dagCanvas.js"></script>
    <script src="pages/dev/packages/package/dagEditor/directives/dagOperator/dagOperator.js"></script>
    <script src="pages/dev/packages/package/dagEditor/directives/dagOperatorClass.js"></script>
    <script src="pages/dev/packages/package/dagEditor/directives/dagOperatorClasses/dagOperatorClasses.js"></script>
    <script src="pages/dev/packages/package/dagEditor/directives/dagPort.js"></script>
    <script src="pages/dev/packages/package/dagEditor/directives/dagStream.js"></script>
    <script src="pages/dev/packages/package/dagEditor/mockOperatorsData.js"></script>
    <script src="pages/dev/packages/package/dagEditor/services/dagEditorOptions.js"></script>
    <script src="pages/dev/packages/package/dagEditor/services/freezeDagModel.js"></script>
    <script src="pages/dev/packages/package/dagEditor/services/thawDagModel.js"></script>
    <script src="pages/dev/packages/package/newAppModal.js"></script>
    <script src="pages/dev/packages/package/removeAppModal.js"></script>
    <script src="pages/dev/packages/package/package.js"></script>
    <script src="pages/dev/packages/packages.js"></script>
    <script src="pages/ops/appInstance/appData/appData.js"></script>
    <script src="pages/ops/appInstance/appData/service/discovery.js"></script>
    <script src="pages/ops/appInstance/appData/widgets/discovery/discovery.js"></script>
    <script src="pages/ops/appInstance/appInstance.js"></script>
    <script src="pages/ops/appInstance/container/container.js"></script>
    <script src="pages/ops/appInstance/container/containerLog/containerLog.js"></script>
    <script src="pages/ops/appInstance/container/widgets/ContainerOverview/ContainerOverview.js"></script>
    <script src="pages/ops/appInstance/logicalOperator/logicalOperator.js"></script>
    <script src="pages/ops/appInstance/logicalOperator/widgets/LogicalOperatorOverview/LogicalOperatorOverview.js"></script>
    <script src="pages/ops/appInstance/logicalStream/logicalStream.js"></script>
    <script src="pages/ops/appInstance/logicalStream/widgets/LogicalStreamOverview/LogicalStreamOverview.js"></script>
    <script src="pages/ops/appInstance/operators/widgets/OpProperties/OpProperties.js"></script>
    <script src="pages/ops/appInstance/operators/widgets/metrics/metrics.js"></script>
    <script src="pages/ops/appInstance/physicalOperator/physicalOperator.js"></script>
    <script src="pages/ops/appInstance/physicalOperator/port/port.js"></script>
    <script src="pages/ops/appInstance/physicalOperator/widgets/PhysicalOperatorOverview/PhysicalOperatorOverview.js"></script>
    <script src="pages/ops/appInstance/physicalOperator/widgets/PortsList/PortsList.js"></script>
    <script src="pages/ops/appInstance/widgets/AppInstanceOverview/AppInstanceOverview.js"></script>
    <script src="pages/ops/appInstance/widgets/ContainersList/ContainersList.js"></script>
    <script src="pages/ops/appInstance/widgets/ContainersList/ContainersListPaletteCtrl.js"></script>
    <script src="pages/ops/appInstance/widgets/LogicalOperatorsList/LogicalOperatorsList.js"></script>
    <script src="pages/ops/appInstance/widgets/LogicalStreamsList/LogicalStreamsList.js"></script>
    <script src="pages/ops/appInstance/widgets/StramEvents/StramEvents.js"></script>
    <script src="pages/ops/appInstance/widgets/dag/LogicalDag.js"></script>
    <script src="pages/ops/appInstance/widgets/dag/PhysicalDag.js"></script>
    <script src="pages/ops/appInstance/widgets/metrics/metrics.js"></script>
    <script src="pages/ops/ops.js"></script>
    <script src="pages/ops/widgets/AppsList/AppsList.js"></script>
    <script src="pages/ops/widgets/ClusterMetrics/ClusterMetrics.js"></script>
    <!-- endappscripts -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
