<div dt-table-resize options="table_options">
  <div class="palette">
      
      <!-- when none are selected -->
      <span ng-if="!selected.length">
        <button class="btn btn-default" disabled>
          <span class="glyphicon glyphicon-check"></span>
          <span dt-text>select an operator</span>
        </button>
      </span>
      
      <!-- when one is selected -->
      <span ng-if="selected.length === 1">
        <a class="btn btn-primary" dt-page-href="PhysicalOperator" params="{ appId: appInstance.data.id, operatorId: selected[0] }">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span dt-text="inspect"></span>
        </a>
      </span>

      <!-- when multple are selected -->
      <span ng-if="selected.length > 1">
        <button class="btn btn-default" disabled>
          <span dt-text>no actions available</span>
        </button>
      </span> 

      <span dt-table-selected-count="selected"></span>
  </div>
  <mlhr-table 
      options="table_options"
      columns="columns" 
      rows="resource.data" 
      track-by="id"
      class="dt-table"
      table-class="table" 
      selected="selected">
  </mlhr-table>
</div>