<div class="app-dag">
    <div class="options-controls">
        <div class="form-inline">
            <a href="#" class="btn btn-link"
                    ng-click="toggleLocality($event);">
                <span ng-hide="showLocality">Show Stream Locality</span>
                <span ng-show="showLocality">Hide Stream Locality</span>
            </a>
            <a href="#" class="btn btn-link"
                    ng-click="resetPosition($event);">
                Reset Position
            </a>
        </div>
    </div>
    <div ng-include="'components/widgets/dag/base/dagLegend.html'"></div>
    <div ng-include="'components/widgets/dag/base/dagsvg.html'"></div>
</div>
