.query-editor {
  .btn-switch-json {
    float: right;
  }

  textarea {
    height: 150px;
    width: 100%;
  }

  .properties-table {
    width: 100%;
    display: 'table';
    padding: 5px;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    padding-right: 10px;
  }

  select, input {
    margin-top: 5px;
    display: inline-block;
  }

  .value-cell select, input {
    min-width: 200px;
  }

  .json-output {
    width: 100%;
  }

  .glyphicon-remove {
    color: red;
  }

  .glyphicon-plus {
    color: blue;
  }
}
