<div class="query-editor">
    <tabset>
        <tab heading="Query" select="switchToDesignerMode();">
            <div ng-if="!jsonMode" class="properties-table" ng-controller="QueryEditorCtrl">
                <div class="row">
                    <div class="cell">
                        <form>
                            <div ng-repeat="property in properties" class="row">
                                <div class="cell key-cell">
                                    <label>{{property.key}}</label>
                                </div>
                                <div class="cell value-cell">
                                    <input ng-show="!property.keyValues" type="text" ng-model="property.value"
                                           class="form-control"/>
                                    <select ng-show="property.keyValues" ng-model="property.selKeyValue" ng-options="keyValue.name for keyValue in property.keyValues"
                                            class="form-control"></select>
                                </div>
                                <div class="cell" ng-click="remove(property);">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell key-cell">
                                    <select ng-model="selOption" ng-options="opt for opt in options"
                                            class="form-control">
                                        <option value="">-- choose key --</option>
                                    </select>
                                </div>
                                <div class="cell value-cell">
                                    <input ng-hide="selOption" type="text" ng-disabled="true" class="form-control" />
                                    <input ng-show="selOption && !keyValues" type="text" ng-model="selValue" class="form-control" />
                                    <select ng-show="selOption && keyValues" ng-model="selKeyValue" ng-options="keyValue.name for keyValue in keyValues"
                                            class="form-control"></select>
                                </div>
                                <div class="cell" ng-click="add(selValue);">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="false" class="cell" style="width:100%;">
                        <pre class="json-output">{{ngModel.$viewValue|json}}</pre>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="JSON" select="switchToJsonMode();">
            <div ng-if="jsonMode" ng-controller="QueryEditorJsonCtrl">
                <textarea ng-model="jsonText" ng-change="textChanged(jsonText);"></textarea>
                <div ng-if="!valid"class="alert alert-danger">
                    Invalid JSON
                </div>
            </div>
        </tab>
    </tabset>
</div>