<div ng-if="appInstance.fetching" class="page-loading-div">
    <h2 class="h4">loading application</h2>
    <div dt-spinner></div>
</div>
<div class="row" ng-if="fetched">
    <div class="col-md-12" ng-controller="AppDataDashboardCtrl">
        <div dashboard-layouts="dashboardOptions" class="dashboard-container" template-url="pages/ops/ops-layouts.html"></div>
    </div>
</div>
<div class="row" ng-if="error">
    <div class="col-md-12">
        <alert type="danger"
               class="notification">
            Cannot discover application output. Please check for supported application types.
        </alert>
    </div>
</div>