<div class="palette">
    <span ng-if="selected.length === 1">
        <a dt-page-href="AppInstance" params="{ appId: selected[0] }" class="btn btn-primary">
            <span class="glyphicon glyphicon-eye-open"></span>
            <span dt-text="inspect"></span>
        </a>
        <button class="btn btn-warning" ng-click="endApp('shutdown', { id: selected[0] })">
            <span class="glyphicon glyphicon-remove"></span>
            <span dt-text="shutdown"></span>
        </button>
        <button class="btn btn-danger" ng-click="endApp('kill', { id: selected[0] })">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span dt-text="kill"></span>
        </button>
    </span>
    <button class="btn btn-default" ng-click="resource.fetch({ params: {} })">
        <span class="glyphicon glyphicon-download"></span>
        <span dt-text="retrieve ended apps"></span>
    </button>
    <span dt-table-selected-count="selected"></span>
</div>
<mlhr-table 
    options="options"
    columns="columns" 
    rows="resource.data" 
    track-by="id"
    class="dt-table"
    table-class="table" 
    selected="selected">
</mlhr-table>