<div ng-controller="InstallWizardHadoopCtrl">
  <h1 dt-text>Hadoop Configuration</h1>
  <p dt-text>
    DataTorrent RTS requires a Hadoop installation (version 2.2.0 or greater) and a writeable location on a Distributed File System (typically HDFS). A restart may be required if the Hadoop Installation Location is changed.
  </p>

  <!-- Loading message -->
  <div class="alert alert-info" ng-if="loading">
    <span dt-text>loading</span>
    <div dt-spinner></div>
  </div>

  <!-- Error message -->
  <div class="alert alert-danger" ng-if="loadError">
    <span dt-text>An internal error. Failed to load installation data.</span> <button class="btn btn-default" ng-click="showErrorDetails = !showErrorDetails" dt-text>details</button>
    <div ng-if="showErrorDetails">

      <div ng-if="hadoopLocation.fetchError">
        <hr>
        <h4 dt-text>Hadoop Installation Location failed to load</h4>
        <p>
          <strong dt-text>Response:</strong>
          {{hadoopLocation.fetchError.data || '(no response)'}}
        </p>
      </div>

      <div ng-if="dfsLocation.fetchError">
        <hr>
        <h4 dt-text>DFS Installation Location failed to load</h4>
        <p>
          <strong dt-text>Response:</strong>
          {{dfsLocation.fetchError.data || '(no response)'}}
        </p>
      </div>

    </div>
  </div>

  <!-- Form (table) for changing values -->
  <form name="hadoopForm" ng-show="!loading && !loadError">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">item</th>
          <th scope="col" width="50%">description</th>
          <th scope="col" width="30%">value</th>
        </tr>
      </thead>
      <tbody>

        <!-- Hadoop Installation Location -->
        <tr>
          <td>Hadoop Installation</td>
          <td>The absolute path to the location of your Hadoop installation, typically specified by <code>$HADOOP_PREFIX</code>.</td>
          <td>
            
            <input name="hadoopLocation" tabindex="1" type="text" class="form-control" ng-model="hadoopLocation.data.value" placeholder="e.g. /my/hadoop/dir" required>
            <div ng-messages="hadoopForm.hadoopLocation.$error">
              <div ng-message="required">
                <span class="text-danger" dt-text>A hadoop location is required.</span>
              </div>
              <div ng-if="hadoopLocationServerError">
                <span class="text-danger">
                  {{ hadoopLocationServerError.message }}
                  <button
                  ng-if="hadoopLocationServerError.stack"
                  class="btn btn-default"
                  view-raw-in-modal="hadoopLocationServerError.stack"
                  modal-title="'Error Details'"
                  modal-size="lg">view details</button>
                </span>
              </div>
            </div>
            
          </td>
        </tr>

        <!-- DFS Location -->
        <tr>
          <td>DFS Location</td>
          <td>
            Directory in a Distributed File System (e.g. HDFS) where all datatorrent artifacts will be stored, including checkpoints, recordings, etc. This directory must be accessible and writable by the DataTorrent Gateway and DataTorrent applications running in Hadoop. <br><br>

            This can be an DFS path like <code>/user/USERNAME/datatorrent</code> or a URL like <code>hdfs://localhost:9000/user/USERNAME/datatorrent</code> 

          </td>
          <td>

            <input name="dfsLocation" tabindex="2" type="text" class="form-control" ng-model="dfsLocation.data.value" placeholder="e.g. /user/USER/datatorrent" required>
            <div ng-messages="hadoopForm.dfsLocation.$error">
              <div ng-message="required">
                <span class="text-danger" dt-text>A DFS location is required.</span>
              </div>
              <div ng-if="dfsLocationServerError">
                <span class="text-danger">
                  {{ dfsLocationServerError.message }}
                  <button
                  ng-if="dfsLocationServerError.stack"
                  class="btn btn-default"
                  view-raw-in-modal="dfsLocationServerError.stack"
                  modal-title="'Error Details'"
                  modal-size="lg">view details</button>
                </span>
              </div>
            </div>

          </td>
        </tr>

      </tbody>

    </table>
  </form>

  <button class="btn btn-default backButton" ng-if="currentStep.prev" ng-click="goToStep('welcome')" tabindex="4">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <span ng-text>back</span>
  </button>
  <button class="btn btn-success nextButton" ng-click="next()" ng-disabled="loading || loadError || hadoopForm.$invalid || submittingChanges" tabindex="3">
    <span ng-text>continue</span>
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </button>
  <!-- <pre>{{hadoopForm | json}}</pre> -->
</div>
