<div ng-controller="InstallWizardHadoopCtrl">
  <h1>Hadoop Configuration</h1>
  <p>
    DataTorrent RTS requires a Hadoop installation (version 2.2.0 or greater) and a writeable location on a Distributed File System (typically HDFS). A restart may be required if the Hadoop Installation Location is changed.
  </p>

  <div class="alert alert-info" ng-if="loading">
    <span dt-text>loading</span>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
    </div>
  </div>

  <div class="alert alert-danger" ng-if="loadError">
    <span dt-text>Internal error. Failed to load installation data.</span>
  </div>

  <form name="hadoopForm" ng-show="!loading && !loadError">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">item</th>
          <th scope="col" width="50%">description</th>
          <th scope="col">value</th>
        </tr>
      </thead>
      <tbody>

        <!-- Hadoop Installation Location -->
        <tr>
          <td>Hadoop Installation</td>
          <td>The absolute path to the location of your Hadoop installation, typically specified by <code>$HADOOP_PREFIX</code>.</td>
          <td>
            
            <input name="hadoopLocation" type="text" class="form-control" ng-model="hadoopLocation.data.value" placeholder="e.g. /my/hadoop/dir" required>
            <div ng-messages="hadoopForm.hadoopLocation.$error">
              <div ng-message="required">
                <span class="text-danger" dt-text>A hadoop location is required.</span>
              </div>
            </div>
            
          </td>
        </tr>

        <!-- DFS Location -->
        <tr>
          <td>DFS Location</td>
          <td>
            Directory in a Distributed File System (e.g. HDFS) where all datatorrent artifacts will be stored, including checkpoints, recordings, etc. This directory must be accessible and writable by the DataTorrent Gateway and DataTorrent applications running in Hadoop. <br><br>

            This can be an DFS path like <code>/user/USERNAME/datatorrent</code> or a URL like <code>hdfs://localhost:9000/user/USERNAME/datatorrent</code> 

          </td>
          <td>

            <input name="dfsLocation" type="text" class="form-control" ng-model="dfsLocation.data.value" placeholder="e.g. /user/USER/datatorrent" required>
            <div ng-messages="hadoopForm.dfsLocation.$error">
              <div ng-message="required">
                <span class="text-danger" dt-text>A DFS location is required.</span>
              </div>
            </div>

          </td>
        </tr>

      </tbody>

    </table>
  </form>


  <button class="btn btn-default" ng-if="currentStep.prev" ng-click="goToStep('welcome')">
    <span class="glyphicon glyphicon-circle-arrow-left"></span>
    <span ng-text>back</span>
  </button>
  <button class="btn btn-success" ng-click="next()" ng-disabled="loading || loadError">
    <span ng-text>continue</span>
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </button>

</div>