@dag-editor-operator-side-length: 130px;
@dag-editor-selected-operator-highlight: lighten(@brand-primary, 50%);
@dag-editor-selected-operator-color: desaturate(lighten(@brand-primary, 60%), 50%);
@dag-editor-selected-stream-color: #fff553;
@dag-editor-selected-stream-highlight: #d3ba30;
@dag-editor-active-endpoint-color: #ee3000;

// Set these elements to cursor:grab/grabbing
.operator-class, .dag-operator, .dag-operator .operator-class-name {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;

  &.ui-draggable-dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;    
  }
}

// Operators in the left panel, i.e. 
// instantiable operators
.operator-class {
  padding: 0.5em;
  margin-bottom: 4px;
  h3 {
    margin: 0;
  }
  p {
    margin: 1px 0;
  }
}

// The canvas where operators get placed
// and arranged into the DAG.
.dag-canvas {
  border: 1px solid #DEDEDE;
  height: 650px;
  position: relative;
  background: #FFF;
  overflow: auto;

  svg {
    width: auto;
    height: auto;
  } 

  .ui-resizable-s {
    bottom: 0;
  }
}

// Operators that have been placed on the
// dag-canvas
.dag-operator {
  position: relative;
  width: @dag-editor-operator-side-length;
  height: @dag-editor-operator-side-length;
  border: 1px solid #CCC;
  background-color: #EFEFEF;
  border-radius: 3px;
  position: absolute;
  text-align: center;
  h1, h2, h3, h4, h5 {
    cursor: text;
  }
  &.selected {
    box-shadow: 0 0 7px @dag-editor-selected-stream-highlight;
    background-color: @dag-editor-selected-stream-color;
    border-color: @dag-editor-selected-stream-color;
  }
  .dag-operator-name {
    margin-top: 20px;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 0.6;
  }
}

// Streams on the dag-canvas
.dag-canvas .dag-stream._jsPlumb_connector{
  cursor: pointer;

  // path:nth-child(1) {
  //   stroke: @dag-editor-selected-stream-highlight;
  // }
  path:nth-child(2) {
    // stroke-dasharray: 30,5,15,5,5,5;
    stroke-dasharray: 20,1,2,1,2,1,2,1,2,1;
    stroke: #AAA;
  }

  &.selected {
    path:nth-child(1) {
      stroke: @dag-editor-selected-stream-highlight;
    }
    path:nth-child(2) {
      stroke: @dag-editor-selected-stream-color !important;
    }
  }
  &.THREAD_LOCAL {
    path:nth-child(1) {
      // stroke-dasharray:10, 5;
    }
    path:nth-child(2) {
      stroke-dasharray:none;
      stroke: #4fb998;
    }
  }
  &.CONTAINER_LOCAL {
    path:nth-child(1) {
      // stroke-dasharray:40, 5;
    }
    path:nth-child(2) {
      stroke-dasharray:5,2;
      stroke: #4aaeaf;
    } 
  }
  &.NODE_LOCAL {
    path:nth-child(1) {
      // stroke-dasharray:30, 5;
    }
    path:nth-child(2) {
      stroke-dasharray:10,5;
      stroke: #5fa7b9;
    }
  }
  &.RACK_LOCAL {
    path:nth-child(1) {
      // stroke-dasharray:40, 5;
    }
    path:nth-child(2) {
      stroke-dasharray:30,10;
      stroke: #3c88b9;
    } 
  }
}

// The actual label on a given stream in the
// dag canvas
.stream-label {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.95);
  padding: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  &.selected {
    color: #FFF;
    background: @brand-primary;
    box-shadow: 0 0 20px @dag-editor-selected-operator-highlight, 0 0 10px @dag-editor-selected-operator-highlight;
  }
}

// Port label styles
._jsPlumb_overlay.endpointTargetLabel,._jsPlumb_overlay.endpointSourceLabel {
  background: rgba(255, 255, 255, 0.7);
  padding: 0 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  cursor: default;
}

// The class name that shows up on
// dag-operators placed on the dag canvas
.dag-operator .operator-class-name {
  padding: 0 1em;
  font-size: 11px;
}

// Form that contains the in-place
// editable name field on a dag-operator
.edit-name-form {
  input {
    font: inherit;
    text-align: center;
  }
}

// The panel/form whose content changes based on 
// what is currently selected on the dag-canvas.
// If nothing is selected, this is the app inspector.
.dag-inspector {
  label {
    font-size: 11px;
  }

  // the div that holds information about a 
  // stream's source or sinks
  .stream-inspector-source-sink {
    margin-bottom: 5px;
    p {
      margin-bottom: 5px;
    }
  }
}

  

// jsPlumb elements inside of dag-canvas
.dag-canvas {
  // Output port (endpoint) styles when one can
  // accept the type that a stream emits.
  ._jsPlumb_endpoint.active svg circle {
    stroke-width: 4px;
    stroke: @dag-editor-active-endpoint-color;
  }
  ._jsPlumb_endpoint.active._jsPlumb_endpoint_drop_allowed svg circle {
    fill: @dag-editor-active-endpoint-color;
  }

  // Default connector outline
  ._jsPlumb_connector path:nth-child(1){
    stroke: #eaedef;
  }

  // Default inner connector line
  ._jsPlumb_connector path:nth-child(2){
    stroke: #5C96BC;
  }

  ._jsPlumb_endpoint {
    border-radius: 50%;
    &.selected {
      box-shadow: 0 0 0 2px #FFF, 0 2px 8px 1px #eacc15,0 0 10px #eacc15, 0 0 12px #eacc15;
      circle {
        fill: @dag-editor-selected-stream-color;
        stroke: #FFF;
      }
    }
  }
}
