<div class="modal-header">
    <h3><span class="glyphicon glyphicon-cloud-download"></span> {{ isNew() ? 'Add' : 'Edit' }} a Data Source</h3>
</div>
<div class="modal-body">
    <form role="form">

      <!-- source.name -->
      <div class="form-group">
        <label for="sourceName">Source Name</label>
        <input type="text" class="form-control" id="sourceName" name="sourceName" ng-model="source.name">
        <p class="help-block">What would you like to call this data source?</p>
      </div>

      <!-- source.type -->
      <div class="form-group">
        <label for="sourceType">Source Type</label>
        <select name="sourceType" id="sourceType" class="form-control" ng-model="source.type" ng-options="type as type.label for type in sourceTypes" required="">
            <option value="">choose one</option>
        </select>
        <p class="help-block" ng-if="!source.type">What type of data source or stream is this?</p>
      </div>
      <div ng-if="source.type" class="well">
        <!-- type.description -->
        <p><strong>description:</strong> {{source.type.description}}</p>
        <!-- source.properties -->
        <div class="form-group" ng-repeat="prop in source."></div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>